*{
	font-family: Helvetica, sans-serif;
}

header {
	background-image: url("../img/pattern.jpeg");
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	color: #F0E68C; /*khaki*/
	margin: 60px 10px;
}

img {
	display: block;
}

main {
	margin: 10px;
	display: grid;
	grid-template: 1 fr 1 fr 1 fr / 1 fr;
}

.item-head {
	display: block;
	width: 100%;
	text-align: left;
	font-weight: bold;
	font-size: 32px;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.brushes .item-head {
	background-color: #00FA9A;
}

.frames .item-head {
	background-color: #F08080;
}

.paint .item-head {
	background-color: #87CEEB;
}

.starting-price {
	font-weight: bold;
	color: #0000FF;
}

.description-head {
	font-weight: bold;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
